# IDE
.idea/
*.iml
.vscode/

# Go
*.exe
*.test
*.out
dist/

# SQLite
*.db
*.sqlite

# Runtime
/tmp/

# Wails
cmd/app/frontend/node_modules/
cmd/app/frontend/dist/
cmd/app/build/bin/
cmd/app/build/darwin/
cmd/app/frontend/package.json.md5

# Compiled binary
/maestro
app
